html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: row;
}
.side__container {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
}
.side__container > img {
  width: 100%;
  height: 100%
}
.main__container {
  display: flex;
  flex-direction: column;
}
.hero__container {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.form__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.form__btn {
  padding-top: 1rem;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
button {
  background-color: forestgreen;
  border-radius: 6px;
  color: white;
  border: 0.5px solid black;
  width: 40%;
  height: 2rem;
}